.cart-bag{
  cursor: pointer;
  &:hover > .cart-show{
    display: block;
  }
  .cart-number, i {
    color:white;
   
  }
  i{
    padding-right:10px;
  }
  p {
    margin-bottom: 0px;
  }
    .cart-show{
        position: absolute;
        width: 450px;
        margin-left: -400px;
        background: white;
        padding: 15px;
        display: none;
        .cart-item{
            position: relative;
            height: 100%;
            justify-content: left;
            align-items: center;
            display: flex;
            margin-bottom: 20px;
            &-name{
                width: 100%;
            }
            &-price{
                width: 50px;
                text-align: right;
            }
            p{
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 40px;
                margin-bottom: 0px;
            }
            img{
                width: auto;
                height: 40px;
                display: inline-block;
                margin-top: auto;
                margin-right: 15px;
            }
            i{
              color: black;
              padding-left: 5px;
              line-height: 40px;
              
            }
        }
        .btn-view-cart
        {
            float: right;
            color: white;
        }
    }
    .cart-label{
        font-size: 14px;
        color: #a2a2a2;
        position: relative;
        margin-bottom: 10px;
        &:after{
          width: 80px;
          position: absolute;
          bottom: -5px;
          left:0px;
          height: 5px;
          background: red;
          content: ""
        }
    }
}
.table-cart{
  tr{
    td{
      img{
        width: 100px;
        height: auto;
      }
      vertical-align: middle;
    }
    .table-td-name{
      width: 610px;
    }
  }
}