.new-training{
    .course-content{
        margin-top: 0px;
        height: 300px;
        border: 2px dashed black;
        &:hover{
            cursor: pointer;
        }
        &-wrap{
            text-align: center;
            margin-top: auto;
            height: 100%;
            i{
                margin-top: 30%;
            }
        }
        &-active{
          border: none;
          height: 100%;
          .form-check-input{
            height: 28px;
          }
          .form-check-label
          {
            line-height: 38px;
          }
          .course-content-wrap{
            max-height: 100%;
            height: auto;
          } 
          .btn-remove{
            position: absolute;
            right: 30px;
            top: 5px;
            &:hover{
              cursor: pointer;
            }
          }
        }
        
    }
}
.popup-course{
    .course-content{
        margin-top: 0px;
    }
    .course-thumbnail
    {
      text-align: center;
      position: relative;
      height: 265px;
      img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
      }
    }
    img{
      height: auto;
      width: auto;
    }
}