.form-sign-in {
  .react-datepicker-wrapper {
    display: block;
  }
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
  &-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
  }
  &-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: calc(calc(2.25rem + 2px) - 1px * 2);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      content: "Browse";
      background-color: #e9ecef;
      border-left: 1px solid #ced4da;
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}
button.new-item {
  padding: 16px 48px;
  border: 2px solid #34d986;
  border-radius: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #383749;
  text-decoration: none;
  &:hover {
    color: #fff;
    background: #34d986;
  }
}
.select {
  &__single-value {
    &--is-disabled {
      color: #495057 !important;
    }
  }
  &__control {
    &--is-disabled {
      background-color: #e9ecef !important;
      border: 1px solid #ced4da !important;
    }
  }
}
